@model IEnumerable<Dziennik.Models.Ogloszenie_dla_rodzicow>

@{
    ViewBag.Title = "Ogloszenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center><h1>Ogłoszenia</h1></center>
<br />
<div class="list-group">

    @foreach (var item in Model)
    {
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <small>@Html.DisplayFor(modelItem => item.data)</small>
            <h3 class="mb-1">
                @Html.DisplayFor(modelItem => item.naglowek)
            </h3>

        </div><br />
        <p class="mb-1">@Html.DisplayFor(modelItem => item.tresc)</p>
        <small>@Html.DisplayFor(modelItem => item.Nauczyciel.FullName)</small>
        </a>


        


        }
</div>